/*Style*/

/* Game Title */
h1 {
  color: SeaGreen;
  font-size: 40px;
  font-style: italic;
  text-align: center;
  text-shadow: 10px;
}

button {
  align-items: center;
}

/*  */
.bg-white { 
  background-size: 100%;
  background-color: #fff; 
}

.game-container {
  justify-content: center;
  padding: 2px;
}

img {
  max-width: 100%;
  height: 100%;
}